############################################
# Git ignore file for unwanted files
############################################

# Build folder
build

# Created test folders
test/objs
test/lib
test/coverage
test/admin-system

# Doxygen
docs/doxydoc

# Vim .swp files
*.swp
