[Unit]
Description=MyApp Service

[Service]
ExecStart=/usr/local/bin/myapp
# Capture stderr into our log file
StandardOutput=null
StandardError=append:/var/log/myapp.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
