* { 
        font-family: monospace;
        font-size: 15px; 
        color: #d9d9d9; 
}

app-label {
        font-size: 30px;
        font-weight: bold;
}

outlined-button {
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 5px;
        background-color: #2e2e2e;
        box-shadow: 0px 0px 2px 2px rgba(0, 102, 255, 0.2);
        transition: background-color 200ms ease, border-color 150ms ease, transform 150ms ease;
}

outlined-button:hover {
        background-color: #3c3c3c;
}

outlined-button:active {
        background-color: #1a75ff;
        transform: scale(0.96);
}

save-button {
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 5px;
        background-color: #1a75ff;
        box-shadow: 0px 0px 1px 1px rgba(0, 102, 255, 0.2);
        transition: background-color 200ms ease, border-color 150ms ease, transform 150ms ease;
}

save-button:hover {
        background-color: #3c3c3c;
}

save-button:active {
        background-color: #1a75ff;
        transform: scale(0.96);
}

listview {
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 10px;
}

columnview {
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 10px;
}
