* { 
        font-family: monospace;
        font-size: 15px; 
        color: #d9d9d9; 
}

app-label {
        font-size: 30px;
        font-weight: bold;
}

.outlined_button {
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 5px;
        background-color: #2e2e2e;
        box-shadow: 0px 0px 2px 2px rgba(0, 102, 255, 0.2);
        transition: background-color 200ms ease, border-color 150ms ease, transform 150ms ease;
}

.outlined_button:active {
        background-color: #1a75ff;
        transform: scale(0.96);
}

.save_button {
	min-height: 25px;
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 5px;
        background-color: #1a75ff;
        box-shadow: 0px 0px 1px 1px rgba(0, 102, 255, 0.2);
        transition: background-color 200ms ease, border-color 150ms ease, transform 150ms ease;
}

.save_button:hover {
        background-color: #3c3c3c;
}

.save_button:active {
        background-color: #1a75ff;
        transform: scale(0.96);
}

.add_button {
        box-shadow: 0px 0px 1px 1px rgba(0, 102, 255, 0.2);
}

.delete_button {
	box-shadow: 0px 0px 1px 1px rgba(251, 153, 2, 0.2);
}

listview {
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 10px;
}

columnview {
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 10px;
}

.search_bar {
	min-width: 300px;
	margin-left: 30px;
	margin-right: 20px;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: inset 0px 0px 1px 1px rgba(0, 102, 255, 0.2);
}

.search_bar:focus-within {
	outline: none;
	box-shadow: 0px 0px 2px 2px rgba(0, 102, 255, 0.2);
}

app_label {
        color: #1a75ff;
	font-size: 20px;
	font-weight: bold;
}
